* {
  box-sizing: border-box; /* Asegura que padding y borde se incluyan en el tamaño */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(56, 163, 165);
  padding: 0;
  margin: 0;
}

.container {
  width: 960px;
  margin: 0 auto; 
  padding: 20px 0;
}

header {
  text-align: center;
  background-color: rgb(34, 87, 122);
  padding: 20px;
  color: white;
  margin-bottom: 0px;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center; 
  padding: 10px;
}

.navbar ul li {
  margin: 0 10px; 
}

.navbar ul li a {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.post {
  background-color: white;
  padding: 10px;
 }

.post-header {
  margin: 10px;
  text-align: center;
}

.post-header img{
  margin: 10px;
  border:2px solid rgb(34, 87, 122) ;
  box-shadow: 2px rgb(56, 163, 165);
}

.post-body {
  text-align: center;
}

.post-body p{
  margin: 20px auto; 
  padding: 10px;              
  border-radius: 5px;          
}

footer {
  background-color: rgb(34, 87, 122);;
  padding: 20px;
  margin-top: 0;
  text-align: center;
  color: white;
}

h4{
  margin: 10px;
}
table {
  width: 80%;
  max-width: 910px;
  margin: 10px auto; 
  border-collapse: collapse;

}
table tr {
  text-align: justify;
}


